{{!< layout}}
<div class="aui-group">
    <div class="aui-item">
        <h3>Thanks for adding HipGif!</h3>
        <p>Currently there are no config options. All GIFs are hardcoded to only allow PG rated images (via Giphy's API). Head on over to a room where HipGif is enabled and start adding /gif to your conversations.</p>
        <p>The ability to change allowed GIF ratings and other configurations are currently in the works.</p> 
    </div>
</div>
