{{!< layout}}
<div class="aui-group">
    <div class="aui-item">
        <h3>Thanks for adding HipGif!</h3>
        <p>Currently there are no config options, through the ability to change allowed GIF ratings and other configurations are currently in the works.</p> 
    </div>
</div>
